# pip install torch==2.1.0+cu118 torchvision==0.16.0+cu118 torchaudio==2.1.0+cu118 -f https://download.pytorch.org/whl/torch_stable.html
torch==2.4.1
torchvision==0.19.1
numpy==2.1.1
pandas~=2.2.2
scikit-learn==1.5.1
networkx~=3.3
torch-geometric
tqdm==4.66.5
transformers==4.44.2
xgboost==2.1.1
matplotlib==3.9.2
scipy==1.14.1
iterative-stratification
pyetherchain~=0.3.2
evmdasm~=0.1.10
rich==13.8.0
eth-utils~=5.0.0